.navbar {
  background: #0d6efd;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}

.menu li {
  position: relative;
  cursor: pointer;
}

.menu a {
  color: white;
  text-decoration: none;
}

.dropdown {
  display: none;
  position: absolute;
  top: 25px;
  background: white;
  color: black;
  list-style: none;
  padding: 10px;
}

.dropdown li {
  padding: 5px 10px;
}

.dropdown li a {
  color: black;
}

.menu li:hover .dropdown {
  display: block;
}
